# Python / Backend
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env
frontend/.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
